*{
    background-color:black;
h1{
    background-color:rgb(215, 208, 198);
    text-align: center;
    font-family: cursive;
    font-size: larger;
}
h2{
    background-color: rgb(239, 230, 216);
    font-family:cursive ;
    font-size: large;
    text-align: center;
}
h3{
    background-color: rgb(229, 213, 192);
    font-family: cursive;
    font-size: large;
    text-align: center;
}