*{
    margin 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0f0d0d;
    color: #ffffff;
}
.banner{
    background:linear-gradient(90deg,#181818 8%,hsla(0,0%,9%,.98) 20%,hsla(0,0%,9%,.97) 25%,hsla(0,0%,9%,.95) 35%,hsla(0,0%,9%,.94) 40%,hsla(0,0%,9%,.92) 45%,hsla(0,0%,9%,.9) 50%,hsla(0,0%,9%,.87) 55%,hsla(0,0%,9%,.82) 60%,hsla(0,0%,9%,.75) 65%,hsla(0,0%,9%,.63) 70%,hsla(0,0%,9%,.45) 75%,hsla(0,0%,9%,.27) 80%,hsla(0,0%,9%,.15) 85%,hsla(0,0%,9%,.08) 90%,hsla(0,0%,9%,.03) 95%,hsla(0,0%,9%,0)), url("https://occ-0-2484-3663.1.nflxso.net/dnm/api/v6/Qs00mKCpRvrkl3HZAN5KwEL1kpE/AAAABQDpT6t8mS6Bent2_DvrUxLtm_sov8E2N7qazbGw6iISJLJh1LnGOJKOzi6fY5gxCqzu8tmDIKZ3I3Po5e6jKRYjIC2N1Ahs76BHqWgeTUV-3JNMvKwq1KfxjoW3E48X3LZe.jpg?r=44");
    background-size: cover;
    background-position: centre centre;
    max-width 100%;
    background-repeat: no-repeat;
    height:100vh;
}
.bannercontent .bannertitle h1{
    font-size: 30px;
    padding: 25px 25px 25px 25px;
    font-family: monospace;

}