    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
   background-color: black;
   min-height: 100vh;
   justify-content: center;
   align-items: center;
   display: flex;
}
.heart{
    height: 100px;
    width: 100px;
    background-color:black;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10PX -20PX 90PX RED;
    animation: lt 2s infinite;
    right: 0%;
    top: 4%;
    z-index: 1;  
}
.heart::before{
    height: 100px;
    width: 100px;
    background-color:black;
    top: -50%;
    position: absolute;
    content: '';
    border-radius: 50px;

}
.heart::after{
    height: 100px;
    width: 100px;
    background-color:black;
    right: -50%;
    position: absolute;
    content: '';
    border-radius: 50px;
}
@keyframes lt {
    0%{
        transform: rotate(-45deg) scale(1.09);
        border-color: red;
    }
    80%{
        transform: rotate(-45deg) scale(0.9);
        border-color: black;
    }  
    100%{
        transform: rotate(-45deg) scale(1.05);
        border-color: darkmagenta;
    }   
}
.circle{
    height: 400px;
    width: 400px;
    background-color: transparent;
    border-radius: 50%;
    border: 5px solid;
    animation: lt1 3s linear infinite; 
    position: absolute;
}
@keyframes lt1{
    from{
        transform: rotate(0);
        border-color: green ;
    }
    to{
        transform: rotate(360);
        background-color: skyblue;
        transition: 2s;
        border-color: lightcoral;
    }
}
.square{
    height: 600px;
    width: 600px;
    background-color: transparent;
    border: 5px solid red; 
    animation: lt2 5s linear infinite;
    position: absolute;
    left: 30%;
}
@keyframes lt2{
    from{
        transform: rotate(90deg);
        transition: 1.5s;
        border-color: blueviolet;
    }
    to{
        transform: rotate(360) scale(0.8);
        transition: 3s;
        border-color: darkcyan; 
    }
}
