*{
    margin:0;
    padding: 0;
   
}
body{
    max-width:100%;
    justify-content: space-between;
}
nav
{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
} nav img
{
    max-width: 100%;
    object-fit: cover;
}
nav action
{
    display: flex;
    background-color: aqua;
    padding: 8px 16px;
    margin: 4px 8px;
}

.container{
    width: 110px;
    max-width: 100%;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content:center;

}
.card{
    margin: 10px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    padding: 10px 20px;
  
}